.layout {
  display: grid;
  grid-template-rows: 2em auto 2em;
  height: 100%;
}

.layout__nav {
  padding: 0 2.25%;
}

.layout__nav-header {
  margin-right: 10px;
  border-right: 6px double currentColor;
  padding-right: 10px;
}

.layout__nav-link {
  margin: 0 6px;
  line-height: 2em;

  &:first-of-type {
    margin-left: 0;
  }

  &:last-of-type {
    margin-right: 0;
  }
}

.layout__content {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  justify-content: center;
  align-items: center;
  padding: 0 2.25%;
}

.layout__footer {
  padding: 0 2.25%;
}
